body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #db2b2b;
}

/* Contenedor de los 3 cuadros */
.contenedor {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px; /* espacio entre cuadros */
}

/* Cuadros individuales */
.cuadro {
    background: rgb(228, 41, 41);
    padding: 20px;
    border-radius: 10px;
    width: 30%;  /* cada cuadro ocupa 1/3 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}